@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Sour Gummy", sans-serif;
}

header {
  margin-top: 1rem;
}

body {
  text-align: center;
  padding-inline: 2rem;
}

header nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  border-radius: 0;
  padding: 1rem 2rem;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #2e2e2e;
  color: #f2f2f2;
  border: none;
}

.tab {
  border: 1px solid #010101;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}

#home {
    background: url('./images/food.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 5rem;
}

#home div {
    background-color: hsla(0, 0%, 0%, 0.25);
    color: #f2f2f2;
    padding: 2rem 0;
}

#home div button {
    border: none;
}

#about {
    padding: 0 2rem;
    display: block;
}

#about p {
  font-size: 1.15rem;
  line-height: 25px;
}

#about img {
    width: 100%;
}

.none {
    display: none;
}

#menu {
    display: block;
}